---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Prabhav Kasibhatla">
	<main>
		<h1>
    		<span class="text-gradient">
    		  Prabhav Kasibhatla
    		</span>
		</h1>
		<div class="font-thin">
			Hello, this is my personal website. I have been doing software development for 4 years 
			through formal and self driven academic pursuits. I happen to be interested in physics and 
			computer science and plan to pursue a degree in applied physics or EE / ECE. 
			In the following pages I have took the time to share some of my interests and activities, 
			if I hold myself accountable I also hope to post some journals and essays. Thank you.
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 6rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
