---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Interests">
	<main>
		<h1>
			<span class="text-gradient">Things I Like</span>
		</h1>

		<div class="grid gap-8">
			<div class="grid grid-cols-2 items-center gap-10">
				<p>For the longest time I used to not care what car I drove till I started driving, and from then it's been racing games and F1 videos.</p>
				<img src="/BMWM3.jpg" alt="BMW M3 car" class="mx-auto">
			</div>
			<div class="grid grid-cols-2 items-center gap-10">
				<img src="/guitar.jpeg" alt="Guitar" class="mx-auto">
				<p>I have long been a fan of music, across many artists and genres. I also play 3 instruments including guitar, violin, & bass guitar.</p>
			</div>
			<div class="grid grid-cols-2 items-center gap-10">
				<p>A long-standing passion of mine is physics. There is great wonder in the study's ability to explain all phenomena on some level.</p>
				<img src="/physics.jpg" alt="Physics concept" class="mx-auto">
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 90%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 5rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 2rem;
	}

	.grid {
		display: grid;
		gap: 2rem;
	}

	.grid-cols-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	p {
		margin: 0;
		text-align: left;
	}

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
</style>
